<div class="box">
  <%= form_with(model: address) do |form| %>
    <% if address.errors.any? %>
      <div id="error_explanation">
        <h2 class="title"><%= pluralize(address.errors.count, "error") %> prohibited this service from being saved:</h2>
        <ul>
          <% address.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :alias, class: "label" %>
      <div class="control">
        <%= form.text_field :alias, class: "form-control", class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :address, class: "label" %>
      <div class="control">
        <%= form.text_field :address, class: "form-control", class: "input" %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: "button is-primary" %>
    </div>

  <% end %>
</div>
